<!DOCTYPE html>
<html>
<head>
<link href="maFeuilledeStyle.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body> {
h1
{
color: yellow;
font-family:Verdana
}
background-image: Zelda/background.webp
<link href="maFeuilledeStyle.css" rel="stylesheet" type="text/css" media="all" />
</style>

</body>
</html>
