<!DOCTYPE html>
@font-face
{
font-family: "the_wild_breath_of_zelda";
src: url('the_wild_breath_of_zelda.zip') format('truetype');}

h1 
{
color:#C9B25F;
text-align: center;
font-family:"the_wild_breath_of_Zelda";
font-sie:25px;
letter-spacing: 2px;}

p 
{
font-family:"the_wild_breath_of_Zelda";
color:#C9B25F;
line-height: 1.6;
font-size:19px;}


body 
{
background-image: "Zelda/background.jpg";}

