<!DOCTYPE html>

h1 
{
color:white
text-align: center;
font-family:Verdana;}

p 
{
font-family:Verdana;
color: white;
line-height: 1.6;
font-size:19px;}


body 
{
background-image: "Zelda/background.jpg";}

