<!DOCTYPE html>


body {
margin: 0; /* Supprime les marges par défaut */
height: 100vh;}
     
.page {
background-size: cover;
background-position: center;
height: 100%;}

.page1 {
  background-image: url('Zelda/background.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.page2 {
 background-image: url('Zelda/botw_illu.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 
{
color:#C9B25F;
text-align: center;
font-family:Verdana, sans-serif;
font-size:50px;}

p 
{
font-family:Verdana, sans-serif;
color:#18171C;
line-height: 1.6;
font-size:20px;
-webkit-text-stroke: 0.3px white;
font-weight: bold;}

img {
  display: block;
  width: 30%;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1D1A1F;
}

li {
  float: left;
}

li a {
  display: block;
  color: #FFFEE6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #E3E4C5;
}

